@import "compass";
@import "theme_variables";

$title-height: 46px;
$col-width: 200px;
.scroll-header .navleft-container .pt_vmegamenu_title h2{line-height: 50px;}
#index .navleft-container .pt_vmegamenu{display: block;}
.navleft-container{
	position: relative;
	.pt_vmegamenu_title{
		position: relative;
		overflow: hidden;
		background: #98ab3f;
		cursor: pointer;
		padding: 0 15px 0 25px;
		border-radius: 5px 5px 0 0;
		margin-top: 11px;
		@media (max-width:$screen-md-max) {	
			padding:0 15px;
		}
		h2{
			margin: 0;
			color:$light-text-color;
			line-height:$title-height;
			padding: 0;
			text-transform:capitalize;
			font:{
				size: 20px;
				weight: 700;
			}
			i{display: none;}
		}
	}
	.pt_vmegamenu{
		width: 100%;
		background: #fff;
		position: absolute;
		display: none;
		border-top: none;
		border: 2px solid $hover-color;
		border-radius: 0 0 5px 5px;
		border-top: 0;
		z-index: 10;
		.pt_menu.noSub{
			.parentMenu a:after{display: none;}
		}
		.pt_menu {
			position: relative;
			&:hover .wrap-popup{
				left:100%;
				opacity:1;
				@include pos-transition(300ms);
			}
			&.active .parentMenu a,&:hover:not(.noSub):after{
				color:$hover-color;
				
			}
			&.active .parentMenu a{
				color: #fff;
				background-color:$hover-color;
				@include pos-transition(300ms);
				&:before{
					color:$light-text-color;
					@include pos-transition(300ms);
				}
				&:after{
					color: #fff;
				}
			}
			&.act .parentMenu a{
				color: #fff;
				background: $hover-color;
				&:after{
					color: #fff;
				}
			}
			&:last-child .parentMenu a {
				border-bottom:0;
			}
		
			.parentMenu a{
				position:relative;
				display: block;
				overflow: hidden;
				line-height:30px;
				text-transform: capitalize;
				word-wrap: break-word;
				color: #4c4c4c;
				font-family: Roboto;
				padding:11px 20px 11px 30px;
				border-bottom: 1px solid $border-color;
				font:{
					size: 15px;
				}
				// max  1199px
				@media (max-width:$screen-md-max) {
					line-height: 20px;
				}
				&:hover {
					background: $hover-color;
					color: #fff;
					@include pos-transition(300ms);
				}
				&:hover:after{
					color: #fff;
				}
				.cate-thumb{
					float: left;
					width: 15px;
					margin-right: 10px;
					display:none;
		
				}
				span:not(.cate-thumb){
					
				}
			}
			&.act, &.active{
				&:after{
				
				}
				.parentMenu a{
				
				}
			}
			.wrap-popup{
				position: absolute;
				top: 0;
				left: 115%;
				z-index:1;
				opacity:0;
				width: $col-width * 4 + 40px;
				.popup{
					display: none;
					position: absolute;
					top: 0 !important;
					left: 0 !important;
					width: auto !important;
					z-index: 10;
					@include pos-box-shaw;
					.box-popup{
						background: #fff;
						padding: 20px 20px 5px;
						float: left;
						overflow: hidden;
						.column{
							width: $col-width;
							margin-right: 50px;
							margin-bottom: -99999px;
							padding-bottom: 99999px;
							.itemMenuName{
								color: #393939;
								text-transform: capitalize;
								word-wrap: break-word;
								display:block;
								line-height:35px;
								position:relative;
								font-family: Roboto;
								font:{
									size: 16px;
									weight:600;
								}
								&:hover{
									color:$hover-color;
								}
							}
							.itemSubMenu{
								.itemMenuName{
								    color: #ababab;
									text-transform: capitalize;
									display: block;
									font-size: 13px;
									font-weight: 400;
									
									&:hover{
										color:$hover-color;
										&:before{
											color:$hover-color;
										}
									}
								}
							}
						}
						.column.last { 
							margin-right:0;
						}
					}
				}
			}
		}
		.view_more {
			display: block;
			overflow: hidden;
			line-height: 50px;
			text-transform: capitalize;
			word-wrap: break-word;
			padding:0 25px;
			@media (max-width:$screen-md-max) {	
				padding:0 10px;
			}
			background:$light-background;
			color:#4c4c4c;
			font-size: 15px;
			cursor:pointer;
			&:hover {
				background:$hover-color;
				color:$light-text-color;
			}
			i {
				width:15px;
				text-align:center;
				margin-right:6px;
			}
			
			
		}
		
	}
}