.pt_vmegamenu_title {
background-color:#7ecc13;
}
.pt_vmegamenu_title h2 {
margin: 0;
color: #fff;
font: bold 15px/57px "Lato",sans-serif;
text-transform: uppercase;
padding: 0 0 0 20px;
}
.pt_vmegamenu_title h2 i{
padding-right: 20px;}
@media (max-width: 992px){
	.pt_vmegamenu_title h2 i{
	display: none;}
}
.pt_vmegamenu {
z-index: 1000;
}
.pt_vmegamenu  .last .parentMenu{background: none}
.pt_vmegamenu div.pt_menu {
    position: relative;
	background: #000000;
	border-bottom: 1px solid #000000;
	-webkit-transition: background 300ms ease;
	-moz-transition: background 300ms ease;
	-ms-transition: background 300ms ease;
	-o-transition: background 300ms ease;
	transition: background 300ms ease;}
.pt_vmegamenu div.pt_menu.active .parentMenu a,
.pt_vmegamenu div.pt_menu .parentMenu a:hover{
	background:#3c3c3c;
	color:#7ecc13;
}
.pt_vmegamenu div.pt_menu .parentMenu:after{
	content: "\f105";
	font-family: fontawesome;
    position: absolute;
    right: 15px;
    top: 10px;
}
.pt_vmegamenu div.pt_menu.noSub .parentMenu:after{
	display:none;
}
.pt_vmegamenu div.pt_menu.active .parentMenu:after,
.pt_vmegamenu div.pt_menu .parentMenu:hover:after{
	color:#7ecc13;
}
.pt_vmegamenu div.pt_menu:hover .wrap-popup{
	-webkit-animation: fadeInRight 200ms ease-in-out;
	-moz-animation: fadeInRight 200ms ease-in-out;
	-ms-animation: fadeInRight 200ms ease-in-out;
	animation: fadeInRight 200ms ease-in-out;
}
.pt_vmegamenu div.pt_menu:last-child {
	border-bottom: 0;}
.pt_vmegamenu div.pt_menu.active {
	background: #000;}
.pt_vmegamenu div.popup {
padding:0;
display: none;
position: absolute;
top:0 !important;
text-align: left;
width: auto !important;
z-index: 3000;
}
.box-popup {
border: 1px solid #3c3c3c;
background:  #3c3c3c;
padding:20px 30px;
float: left;
}
.arrow-left-menu{
background: url("../images/arrow-left-menu.png") no-repeat scroll 0 18px;
float: left;
height: 50px;
margin: -5px 0 0 -15px;
padding: 0;
width: 19px;
position: relative;
z-index: 1;    
}
.pt_vmegamenu div.pt_menu .parentMenu a img{
margin-right: 10px;}
.pt_vmegamenu div.pt_menu .parentMenu a{
text-decoration: none;
display: block;
line-height: 40px;
padding: 0 0 0 30px;
color: #969696;
word-wrap: break-word;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
font-size: 13px;
}
.pt_vmegamenu div.pt_menu .parentMenu a:before{
	background:none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.pt_vmegamenu div.pt_menu.noSub .parentMenu:before{
	display:none;
}
.pt_vmegamenu div.pt_menu .parentMenu a:hover:before{
	left:10px;
	background: #7ecc13;
}
.custom-menu-right { float: left; margin: 0;}
.pt_vmegamenu .column.blockright { width: 150px !important; }
.menu-right-title {
    background: url("../images/bg-bottom1-title.png") repeat-x left bottom;
    float: left;
    margin: 0 0 20px 0;
    width: 100%;
}
.menu-right-title h2 {
    background: url("../images/bg-f-title6.png") no-repeat scroll left bottom;
    color: #777777;
    font-family: 'titilliumwebsemibold';
    font-size: 16px;
    margin: 0;
    padding: 0 0 8px;
    text-transform: uppercase;
}
.menu-right-images { float: left;}
.m-images { float: left;}
.m-images.col1 { margin:20px 0 0;}
.pt_vmegamenu div.pt_menu.last .parentMenu.noSubMenu{
    border: 0;
}
/*.pt_vmegamenu div.pt_menu:hover,.pt_vmegamenu div.pt_menu .active{*/
/*    width: 400px;*/
/*}*/
.navleft-container { position: relative; z-index:9; float: left; width: 100%;margin: 0 0 30px}
.cms-index-index .navleft-container{margin: 0 0 50px}
.pt_vmegamenu div.popup a {
    text-decoration: none;
    display:block;
}
.pt_vmegamenu .itemMenu h4.level3,
.pt_vmegamenu .itemMenu a.level3{
	border-bottom: 2px solid #4d4d4d;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    padding-bottom: 10px;
    width: 100%;
}
.pt_vmegamenu .itemMenu h4.level3,
.pt_vmegamenu .itemSubMenu h4.level4 span{
    color: #897725;
}
.pt_vmegamenu .itemMenu h4.level3:hover, .pt_vmegamenu .itemMenu a.level3:hover{
color:#7ecc13 
}
.pt_vmegamenu .itemSubMenu h4.level4,
.pt_vmegamenu .itemSubMenu a.level4,
.pt_vmegamenu .itemSubMenu h4.level3,
.pt_vmegamenu .itemSubMenu a.level3,
.pt_vmegamenu .itemMenu a.level4.nochild{
	color: #adadad;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
}
.pt_vmegamenu .itemSubMenu h4.level4:hover,
.pt_vmegamenu .itemSubMenu a.level4:hover,
.pt_vmegamenu .itemSubMenu h4.level3:hover,
.pt_vmegamenu .itemSubMenu a.level3:hover,
.pt_vmegamenu .itemMenu a.level4.nochild:hover{
color:#7ecc13 ;
background-position: 0 -33px
}
.pt_vmegamenu div.popup a.act{color: #7ecc13;}

.pt_vmegamenu div.column {
    float:left;
    width:170px;
    margin-right: 15px;
    padding-right:0;
}
.pt_vmegamenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_vmegamenu div.itemSubMenu {
    margin-top:10px;
    margin-bottom:20px
}
.pt_vmegamenu .clearBoth {
    clear:both;
}
.pt_vmegamenu .block2{
    margin-top: 10px;
/*    display: inline-block;*/
}
.pt_vmegamenu #popup_home{
    display: none !important;
}
.pt_vmegamenu div.popup .block1{
    overflow: hidden;
}
.pt_vmegamenu div.popup .block1 .column{
}
/*show right block*/
.pt_vmegamenu div.popup .floatleft{
    float: left;
}
.pt_vmegamenu div.popup .blockright img{
    max-width: 100%;
} 
.pt_vmegamenu .parentMenu .block-title{
    color: #1E7EC8;
}

.pt_vmegamenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_vmegamenu #pt_menu_link .parentMenu ul li{
    float: none;
    list-style: none;
}
.pt_vmegamenu #pt_menu_link .parentMenu ul li a{
    float: none;
    padding: 5px 10px 6px;
    display: block;
}
.pt_vmegamenu #pt_menu_link{
    padding: 0;
    width: 195px;
}
.pt_vmegamenu .wrap-popup{
    position: absolute;
    left: 100%;
    top: 0;
    width: 914px;
}
.pt_vmegamenu .wrap-popup:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.pt_vmegamenu div.pt_menu{
    padding: 0 !important;
}
@media (max-width: 1199px)  {
}

/*============end megamenu==========================*/

/* edit */
.cate-thumb{
display: inline-block;}